.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

fieldset {
  border: 1px solid #000; }

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.row {
  overflow: hidden; }

.row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px; }

.container1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 45px;
  padding-right: 50px;
  width: 38%;
  float: left;
  padding-bottom: 500em;
  margin-bottom: -500em; }

.logo {
  display: block;
  width: 90px;
  height: 105px;
  padding: 10px;
  padding-top: 25px;
  text-align: center; }

.text1 {
  color: #3d110e;
  font-family: impact;
  font-size: 31pt;
  text-align: center; }

.text2,
.text4 {
  color: #3d110e;
  font-family: Tahoma;
  font-size: 17pt;
  text-align: center; }

.text3 {
  color: #3d110e;
  font-family: Tahoma;
  font-size: 22pt;
  text-align: center;
  line-height: 100%; }

.text4 {
  line-height: 120%; }

.text5 {
  color: #5d110e;
  font-family: Tahoma;
  font-size: 11pt;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.container2 {
  background-color: rgba(4, 0, 0, 0.8);
  width: 62%;
  float: right;
  padding-bottom: 500em;
  margin-bottom: -500em; }

.content2 {
  margin-top: 50px;
  margin-left: 150px; }

.text6 {
  color: #fff;
  font-family: impact;
  font-size: 34pt; }

.text7 {
  color: #c7b299;
  font-family: impact;
  font-size: 22pt;
  margin-top: -10px; }

.inputBox {
  height: 50px;
  width: 65%;
  border: 1.5px solid #c7b299;
  margin-top: 30px;
  min-width: 300px;
  padding-bottom: 30px;
  margin-bottom: 30px; }

fieldset {
  padding-top: 25px; }

.login {
  margin-top: -10px; }

.input_field {
  margin-top: -40px; }

.passwordInput {
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  margin-left: 15px; }

input:focus {
  outline: none; }

.loginLine {
  margin-top: 22px; }

.login-btn {
  font-family: Impact;
  font-size: 18pt;
  color: #5b1d19;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 6px;
  padding-top: 4px;
  background-color: #c7b299;
  width: 140px;
  height: 45px;
  text-align: center;
  display: inline-block; }

.text9 {
  color: #c7b299;
  width: 100px;
  background: rgba(14, 0, 0, 0);
  font-size: 12pt;
  margin-left: 3%;
  padding-left: 2%;
  padding-bottom: 1%;
  text-align: justify; }

.text10 {
  color: #c7b299;
  font-family: Tahoma;
  font-size: 15pt;
  display: inline-block;
  margin-left: 30px; }

.text11 {
  color: #c7b299;
  font-family: Tahoma;
  font-size: 14pt;
  margin-top: 10px;
  width: 65%;
  min-width: 350px; }

#text11 {
  color: #fff;
  width: 60px; }

.error {
  color: #ed3237;
  font-family: Tahoma;
  font-size: 15pt;
  padding-bottom: 15px;
  width: 80%;
  visibility: hidden; }
