@media only screen and (max-width: 1700px){
  .text10{
    font-size: 14pt;
  }

  .text11{
    font-size: 12pt;
  }

  .error {
    font-size: 11.5pt;
  }

  .logo{
    width: 80px;
    height: 90px;
    padding-top: 20px;
  }
}

//Tablet environment
@media only screen and (max-width: 1150px) {
  .container1{
    display: block;
        float: none;
        width: 100%;
  }
  .container2{
    display: block;
    float: none;
    width: 100%;
  }

  .container-fluid{
    height:100%;
    width: 84%;
    padding-top: 10%;
    margin-bottom: 10%;
    padding-left: 8%;
    margin-right: 8%;
  }


}

@media screen
  and (max-width: 1024px)
 {
    .content2{
      margin-top: 35px;
      margin-left: 45px;
    }

}

@media only screen and (min-width:601px) and (max-width: 1150px) {
  .container-fluid{
    padding-right: 5.5%;
  }

  .text6{
    padding-top: 50px;
  }

  .text11{
    padding-bottom: 50px;
    font-size: 12pt;
  }

  .error{
    font-size: 12pt;
    padding-bottom: 15px;
    width: 90%;
    margin-top: -32px;
  }
  .text10{
    font-size: 13pt;
  }
}

// Moblie environment
@media only screen and (max-width: 600px) {

  .container-fluid{
    height:100%;
    width: 100%;
    padding-top:7%;
    padding-bottom: 7%;
    margin:0;
    padding-right: 5.5%;
  }

  .container1{
    width:100%;
  }

  .row{
    overflow: hidden;
    width:100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 7%;
  }

  .logo{
    width: 60px;
    height: 70px;
  }

  .text1{
    font-size:21pt;
  }

  .text2,
  .text4
  {
    font-size: 11pt;
  }

  .text3{
    font-size: 14pt;
  }

  .text5{
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: -13px;
  }

  .content2 {
    padding-top: 10%;
    padding-right: 15%;
  }

  .text6{
    font-size: 25pt;
    margin: 0;
  }

  .text7{
    font-size: 16pt;
    padding-top: 10px;
  }

  .inputBox{
    height:40px;
    min-width: 85pt;
    width: 100%;
    border:2px solid #c7b299;
    margin-top: 30px;
    padding-bottom: 10px;

  }

  .text9{
      width:80px;
      margin-top:-10px;
      margin-left:5px;
      background:rgba(0,0,0, 0.75);
      font-size: 10pt;
  }

  .input_field{
    font-size: 13px;
  }

  .login-btn{
    font-size: 13pt;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 0;
    padding-right: 7px;
    padding-top: 4px;
    width: 80px;
    height: 40px;
    display: inline-block;
  }

  .text10{
    font-size: 9pt;
    margin-left: 13pt;
    display: inline-block;
  }

  .text11{
    margin-top: 0px;
    font-size: 8.5pt;
    padding-bottom: 20px;
  }

  .error{
    font-size: 9pt;
    padding-bottom: 10px;
    width: 100%;
    margin-top: -22px;
  }
}
